extends layout
block content
  h3 Customer Testing
  .row
    .col-md-3
      .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-header(data-background-color='blue')
          i.material-icons content_copy
        .card-content
          p.category Total Scripts (Current Month)
          h3.title
            | #{total}
            //small scripts
    //.col-md-3
      .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-header(data-background-color='orange')
          i.material-icons content_copy
        .card-content
          p.category Total Scripts (Prev Month)
          h3.title
            | #{sum}
            //small scripts
    .col-md-3
      .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-header(data-background-color='green')
          i.material-icons computer
        .card-content
          p.category Automation Server count
          h3.title #{count}
            //small servers
    .col-md-3
      .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-header(data-background-color='red')
          i.material-icons cloud_done
        .card-content
          p.category EIT Test Environment
          //h3.title #{env}
          h3.title EIT2
  //.row
    .col-md-12
      form#formId(action='/daily',method='POST', enctype='form-data')
        .col-md-2
          div.dropdown
            button.btn.dropdown-toggle#btnFreq( type="button",data-toggle="dropdown",aria-expanded="true") Graph
              b.caret
            ul.dropdown-menu
              li(class='')
                a.freqDropdown Graph
              li(class='')
                a.freqDropdown Table       
      .card#table
        .card-header
          h4.card-title Month Wise Execution Velocity
          //p.category Here is a subtitle for this table
        .card-content.table-responsive.table-full-width
          table.table
            thead.text-danger
              th Month
              th Aggregate Runs
              th Average Iteration
              th Total Pass
              th Total Fail
              th Pass%
              th Fail%
            tbody
              tr
                td#month1
                td#total1
                td#a1
                td#pass1
                td#fail1
                td#p1
                td#f1
              tr
                td#month2
                td#total2
                td#a2
                td#pass2
                td#fail2
                td#p2
                td#f2
              tr
                td#month3
                td#total3
                td#a3
                td#pass3
                td#fail3
                td#p3
                td#f3
      .card#graph
          .card-header
            h4.card-title Month Wise Execution Velocity 
          .card-plain
            .ct-chart#dailySalesChart(style='height:360px')
    
          
      
  //.row#graph1
    .col-lg-4.col-md-8.col-sm-8
      .card
        .card-header
          h4.card-title#pie1
        .card-plain
          .ct-chart#dailySalesPieChart1(style='height:260px')                                     
    .col-lg-4.col-md-8.col-sm-8
      .card
        .card-header
          h4.card-title#pie2
        .card-plain
          .ct-chart#dailySalesPieChart2(style='height:260px')                                       
    .col-lg-4.col-md-8.col-sm-8
      .card
        .card-header
          h4.card-title#pie3
        .card-plain
          .ct-chart#dailySalesPieChart3(style='height:260px')
  h3 Execution Trend Report
  .row
    form#formId(action='/data/environment',method='POST', enctype='form-data')
      .col-md-2 
        //Select Date:
        input#datepicker(type='text' name='datetext',placeholder='#{date}',style='margin:10px;padding:8px')
        p.category     
      .col-md-2
        div.dropdown
          button.btn.dropdown-toggle#btnFreq( type="button",data-toggle="dropdown",aria-expanded="true") Graph
            b.caret
          ul.dropdown-menu
            li(class='')
              a.freqDropdown Graph
            li(class='')
              a.freqDropdown Table         
  include history_template
append footerScripts
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js')
  script(type='text/javascript').
    $(function(){
        $( "#datepicker" ).datepicker();
        });
    $('#datepicker').datepicker({
    onSelect : function (dateText, inst) {
    $('#formId').submit();
    }});
  //script.
    //bar chart
    var title = !{JSON.stringify(title)};
    
    /*var month_name = !{JSON.stringify(month_name)};
    var pass = !{JSON.stringify(pass)};
    var fail = !{JSON.stringify(fail)};
    var total = !{JSON.stringify(total)};
    var pas_per = !{JSON.stringify(pass_per)};
    var fail_per = !{JSON.stringify(fail_per)};
    var avg_it = !{JSON.stringify(avg_it)};
    
    month_name = month_name.replace(/'/g, '"');
    month_name = JSON.parse("["+month_name+"]");
    console.log(month_name);
    console.log(month_name[0]);

    pass = JSON.parse("["+pass+"]");
    console.log(pass);

    fail = JSON.parse("["+fail+"]");
    console.log(fail);

    total = JSON.parse("["+total+"]");
    console.log(total);
    
    pas_per= JSON.parse("["+pas_per+"]");
    console.log(pas_per);

    //fail_per= JSON.parse("["+fail_per+"]");
    //console.log(fail_per);

    avg_it= JSON.parse("["+avg_it+"]");
    console.log(avg_it);

    
    var per1=((pass[0]/total[0])*100).toFixed(0);
    var per2=((pass[1]/total[1])*100).toFixed(0);
    var per3=((pass[2]/total[2])*100).toFixed(0);
    var pe1=100-per1;
    var pe2=100-per2;
    var pe3=100-per3;
    per1=per1+'%';
    per2=per2+'%';
    per3=per3+'%';
    pe1=pe1+'%';
    pe2=pe2+'%';
    pe3=pe3+'%';
   
    document.getElementById("pie1").innerHTML ="Result for month of"+' '+month_name[0];
    document.getElementById("pie2").innerHTML ="Result for month of"+' '+month_name[1];
    document.getElementById("pie3").innerHTML ="Result for month of"+' '+month_name[2];
    document.getElementById("month1").innerHTML = month_name[0];
    document.getElementById("month2").innerHTML = month_name[1];
    document.getElementById("month3").innerHTML = month_name[2];
    document.getElementById("pass1").innerHTML = pass[0];
    document.getElementById("pass2").innerHTML = pass[1];
    document.getElementById("pass3").innerHTML = pass[2];
    document.getElementById("total1").innerHTML = total[0];
    document.getElementById("total2").innerHTML = total[1];
    document.getElementById("total3").innerHTML = total[2];
    document.getElementById("fail1").innerHTML = fail[0];
    document.getElementById("fail2").innerHTML = fail[1];
    document.getElementById("fail3").innerHTML = fail[2];
    document.getElementById("p1").innerHTML =per1;
    document.getElementById("p2").innerHTML = per2;
    document.getElementById("p3").innerHTML = per3;
    document.getElementById("f1").innerHTML = pe1;
    document.getElementById("f2").innerHTML = pe2;
    document.getElementById("f3").innerHTML = pe3;
    document.getElementById("a1").innerHTML = avg_it[0];
    document.getElementById("a2").innerHTML = avg_it[1];
    document.getElementById("a3").innerHTML = avg_it[2];

    if(total.length == 0)
    {
        
    //window.alert("No Data Available for this Day \n Please select another date");
    }
//  script(src='/js/echarts.min.js')
  script(type='text/javascript').

  script(src='/js/echarts.min.js')
  script(type='text/javascript').

    var myChart = echarts.init(document.getElementById('dailySalesChart'));
    var config = {
        rotate: 90,
        align: 'center',
        verticalAlign: 'middle',
        position: 'top',
        distance: 15,
    };
    var labelOption = {
        normal: {
            show: true,
            position: config.position,
            distance: config.distance,
            align: config.align,
            verticalAlign: config.verticalAlign,
            //horizontalAlign: config.horizontalAlign
            //rotate: config.rotate,
            formatter: '{c}',
            fontSize: 16,
            //fontColor: 'black',
            rich: {
                name: {
                    color: '#fff'
                }
            }
        }
    };

    var option = {
        color: ['#48a44c', '#e73d3a', '#0c84eb'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['Pass', 'Fail', 'Total']
        },
        toolbox: {
            show: false,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                axisTick: {show: false},
                //data: ['Desktop1', 'Desktop2', 'Desktop3', 'Desktop4', 'Desktop5']
                data :month_name,
                axisLabel:{rotate:20}
              }

                //data : labels            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: 'Pass',
                type: 'bar',
                barGap: 0,
                label: labelOption,
                //data: [320, 332, 301, 334, 390]
                data: pass
            },
            {
                name: 'Fail',
                type: 'bar',
                label: labelOption,
                //data: [220, 182, 191, 234, 290]
                data: fail
            },
            {
                name: 'Total',
                type: 'bar',
                label: labelOption,
                //data: [150, 232, 201, 154, 190]
                data: total
            }
        ]
    };
    myChart.setOption(option);
    console.log(pass);
    var pieChart1 = echarts.init(document.getElementById('dailySalesPieChart1'));
    pieOption = {
        title : {
            //text: month_name[0],
            //subtext: date,
           // x:'center'
        },
        tooltip : {
           trigger: 'item',
           formatter: "({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['Pass','Fail']
        },
        series : [
            {
                name: 'Results',
                type: 'pie',          
                radius : '55%',
                label: {
                normal: {
                    position: 'inner'
                }
                },
                labelLine: {
                normal: {
                    show: false
                }
            },
                center: ['50%', '60%'],
                data:[
                    {value:pass[0],name:per1,color:'green'},
                    {value:fail[0],name:pe1},
                ],
                color:['#48a44c', '#e73d3a'],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    pieChart1.setOption(pieOption);
    var pieChart2 = echarts.init(document.getElementById('dailySalesPieChart2'));
    pieOption = {
        title : {
            //text: month_name[1],
            //subtext: date,
            //x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['Pass','Fail']
        },
        series : [
            {
                name: 'Results',
                type: 'pie',
                radius : '55%',
                label: {
                  normal: {
                    position: 'inner'
                  }
                },
                center: ['50%', '60%'],
                data:[
                    {value:pass[1], name:per2,color:'green'},
                    {value:fail[1], name:pe2},
                ],
                color:['#48a44c', '#e73d3a'],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    pieChart2.setOption(pieOption);

    var pieChart3 = echarts.init(document.getElementById('dailySalesPieChart3'));
    pieOption = {
        title : {
            //text: month_name[2],
            //subtext: date,
            //x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['Pass','Fail']
        },
        series : [
            {
                name: 'Results',
                type: 'pie',
                radius : '55%',
                label: {
                  normal: {
                    position: 'inner'
                  }
                },
                center: ['50%', '60%'],
                data:[
                    {value:pass[2], name:per3,color:'green'},
                    {value:fail[2], name:pe3},
                ],
                color:['#48a44c', '#e73d3a'],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    pieChart3.setOption(pieOption);
    $('.freqDropdown').click(function() {
      console.log('clicked');
      console.log($('#btnFreq').text());
      var freq=$(this).text();
      console.log(freq);
      $('#btnFreq').text($(this).text());
      if(freq=='Graph'){
        $('#table').hide();
        $('#graph').fadeIn(1000);
        $('#graph1').fadeIn(1000);
      }
      else
      {
        $('#graph').hide();
        $('#graph1').hide();
        $('#table').fadeIn(1000);

      }
    });
    $('#table').hide();






    